$whiteX: rgba(187, 3, 3, 0.74);
$white0: white;
$white: rgba(255, 255, 255, 0.76);
$grey: #9c9c9c;
$grey2: rgba(156, 156, 156, 0.38);
$grey3: rgba(255, 255, 255, 0.44);
$grey4: #2b2626;
$grey5: rgba(36, 35, 35, 0.49);
$grey6: #f3f3f3;
$grey7: #525252;
$grey8: rgba(255, 255, 255, 0.28);
$black0: black;
$black1: rgba(0, 0, 0, 0.42);
$black2: rgba(0, 0, 0, 0.77);
$red: red;
$red2: #cb2f2f;
$green: rgba(0, 128, 0, 0.41);
$green2: rgb(0, 255, 0);
$yellow: yellow;
$yellow2: rgba(255, 255, 0, 0.5);
$orange: #ffb52e;